---
import Layout from "../../../../layouts/LayoutPage.astro";


---

<Layout title="Episodes">
    <main>
        <div class="grid xxsm:grid-cols-1 xsm:grid-cols-2 sm:grid-cols-3 md:grid-cols-4 grid-cols-5 gap-2">
            <p>Season02</p>
            <p>COMING SOON</p>
            
            <!-- <HouseOfTheDragonCard src={HouseOfTheDragonImg} title="House Of The Dragon" />
            <LordOfTheRingsCard src={LordOfTheRingsImg} title="Lord Of The Rings" />
            <WheelOfTimeCard src={WheelOfTimeImg} title="Wheel Of Time" /> -->
        </div>
    </main>
</Layout>

<style>
    p {
        color: white;
    }
</style>