---
import Layout from "../../layouts/LayoutPage.astro";
import FooBarImg from '../../../images/fubar.webp';
import FooBarCard from "../../components/comedy/FooBarCard.astro";

---

<Layout title="FooBar">
    <main>
        <div class="flex flex-row justify-center items-center">
            <FooBarCard src={FooBarImg} title="FooBar" />
            
        </div>
        <!-- <Playercontrols /> -->
    </main>
</Layout>