---
import Layout from "../../layouts/LayoutPage.astro";
import HouseOfTheDragonImg from '../../../images/fantasy/houseofthedragon.avif';
import HouseOfTheDragonCard from "../../components/fantasy/HouseOfTheDragonCard.astro";
import LordOfTheRingsImg from '../../../images/fantasy/thelordoftheringsringsofpower.avif'
import LordOfTheRingsCard from "../../components/fantasy/LordOfTheRingsCard.astro";
import WheelOfTimeImg from '../../../images/fantasy/wheeloftime.avif'
import WheelOfTimeCard from '../../components/fantasy/WheelOfTimeCard.astro';
import Playercontrols from "../../components/playercontrols.astro";
---

<Layout title="MCU">
    <main>
        <div class="grid xxsm:grid-cols-2 xsm:grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-2 items-center">
            <HouseOfTheDragonCard src={HouseOfTheDragonImg} title="House Of The Dragon" />
            <LordOfTheRingsCard src={LordOfTheRingsImg} title="Lord Of The Rings" />
            <WheelOfTimeCard src={WheelOfTimeImg} title="Wheel Of Time" />
        </div>
        <Playercontrols />
    </main>
</Layout>