---
import Layout from "../../layouts/LayoutPage.astro";
import HFord1923Img from '../../../images/1923.avif';
import HFord1923Card from "../../components/western/HFord1923Card.astro";

---

<Layout title="1923">
    <main>
        <div class="grid xxsm:grid-cols-2 xsm:grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 gap-2 items-center">
            <HFord1923Card src={HFord1923Img} title="HFord1923" />
            
        </div>
        <!-- <Playercontrols /> -->
    </main>
</Layout>