---
import Layout from "../../layouts/LayoutPage.astro";
const response = await fetch("http://192.168.0.94:8888/TinkerBell");
const data = await response.json();
---

<Layout title="Tinker Bell">
    <main>
        <div
            class="grid xxsm:grid-cols-2 xsm:grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-2 flex items-center"
        >
            {
                data.map((d) => (
                    <div class="m-4">
                        <img
                            id={d.movname}
                            src={d.httpthumbpath}
                            class="max-w-full h-auto rounded-lg"
                            alt={d.movname}
                        />
                    </div>
                ))
            }
        </div>
    </main>
</Layout>

<script>
    let response = await fetch("http://192.168.0.94:8888/TinkerBell");
    let data = await response.json();
    let addresses = [];
    for (var ii = 0; ii < data.length; ii++) {
        let foo = data[ii]["filepath"].split("/");
        let boo = foo[5];
        addresses.push(boo);
    }
    let ad = "http://192.168.0.94:8181/OmxplayerPlayMediaReact?medPath=";
    let ad2 = "/media/pi/PiTB/media/Movies/TinkerBell/";
    for (var i = 0; i < addresses.length; i++) {
        let addr = ad + ad2 + addresses[i];
        let moviename = addresses[i].split(" ").join("");
        let movsplit = moviename.split("(");
        let cartoons = document.getElementById(movsplit[0]);
        cartoons.addEventListener("click", () => {
            let response = fetch(addr);
        });
    }
</script>