---
import Layout from '../layouts/Layout.astro';
import Playercontrols from '../components/playercontrols.astro';
---

<Layout title="MovFlo">
	<main>
		<h1 class="mb-9 mt-9 text-center text-6xl text-purple-500">MTV</h1>
		<center>
				<a href="/tvshowspage">
					<svg 
						class="fill-white w-12" 
						xmlns="http://www.w3.org/2000/svg" 
						viewBox="0 0 640 512">
						<path d="M64 64V352H576V64H64zM0 0H64 576h64V64 352v64H576 64 0V352 64 0zM128 448H512h32v64H512 128 96V448h32z"/>
					</svg>
				</a>
		</center>
		<div class="mt-9 grid sm:grid-cols-2 md:grid-cols-3 gap-2">
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/action">Action</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/arnold">Arnold</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/brucewillis">Bruce Willis</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/cartoons">Cartoons</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/comedy">Comedy</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/drama">Drama</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/documentary">Documentary</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/fantasy">Fantasy</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/godzilla">Godzilla</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/harrypotter">Harry Potter</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/indianajones">Indiana Jones</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/jamesbond">James Bond</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/johnwayne">John Wayne</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/johnwick">John Wick</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/jurassicpark">Jurassic Park</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/kingsmen">Kings Men</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/meninblack">Men In Black</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/misc">Misc</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/nicolascage">Nicolas Cage</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/pirates">Pirates</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/riddick">Riddick</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/starwars">Star Wars</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/startrek">Star Trek</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/superheros">Super Heroes</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/scifi">SciFi</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/tomcruize">Tom Cruize</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/transformers">Transformers</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/tremors">Tremors</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/therock">The Rock</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/xmen">XMen</a>
			</div>
		</div>
		<Playercontrols />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
</style>
