---
import Layout from '../layouts/Layout.astro';
import Playercontrols from '../components/playercontrols.astro';
---

<Layout title="MovFlo">
	<main>
		<h1 class="mb-9 mt-9 text-center text-6xl text-purple-500">MTV</h1>
		<center>
				<a href="/tvshowspage/index.html">
					<svg 
						class="fill-white w-12" 
						xmlns="http://www.w3.org/2000/svg" 
						viewBox="0 0 640 512">
						<path d="M64 64V352H576V64H64zM0 0H64 576h64V64 352v64H576 64 0V352 64 0zM128 448H512h32v64H512 128 96V448h32z"/>
					</svg>
				</a>
		</center>
		<div class="mt-9 grid sm:grid-cols-2 md:grid-cols-3 gap-2">
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/action/index.html">Action</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/arnold/index.html">Arnold</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/brucelee/index.html">Bruce Lee</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/brucewillis/index.html">Bruce Willis</a>
			</div>
			
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/cartoons/index.html">Cartoons</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/chucknorris/index.html">Chuck Norris</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/comedy/index.html">Comedy</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/drama/index.html">Drama</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/documentary/index.html">Documentary</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/fantasy/index.html">Fantasy</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/godzilla/index.html">Godzilla</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/harrypotter/index.html">Harry Potter</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/indianajones/index.html">Indiana Jones</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/jamesbond/index.html">James Bond</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/johnwayne/index.html">John Wayne</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/johnwick/index.html">John Wick</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/jurassicpark/index.html">Jurassic Park</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/kingsmen/index.html">Kings Men</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/meninblack/index.html">Men In Black</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/misc/index.html">Misc</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/nicolascage/index.html">Nicolas Cage</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/pirates/index.html">Pirates</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/riddick/index.html">Riddick</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/starwars/index.html">Star Wars</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/startrek/index.html">Star Trek</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/superheros/index.html">Super Heroes</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/scifi/index.html">SciFi</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/tomcruize/index.html">Tom Cruize</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/transformers/index.html">Transformers</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/tremors/index.html">Tremors</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/therock/index.html">The Rock</a>
			</div>
			<div class="text-3xl text-cyan-500 text-center">
				<a href="/mov/xmen/index.html">XMen</a>
			</div>
		</div>
		<Playercontrols />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
</style>
